<form class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="card-content">
    <span class="card-title">Войти в систему</span>
    <div class="input-field">
      <input id="email" type="email" formControlName="email">
      <label for="email">Email:</label>
      <span class="helper-text red-text" *ngIf="form.get('email').invalid && form.get('email').touched">
<!--        <span *ngIf="form.get('email').errors['reuired']">Email не должен быть пустым</span>-->
<!--            <span *ngIf="form.get('email').errors['email']">Email не должен быть пустым</span>-->
        Ошибка!
      </span>
    </div>
    <div class="input-field">
      <input id="password" type="password" formControlName="password">
      <label for="password">Пароль:</label>
    </div>
  </div>
  <div class="card-action">
    <button type="submit" class="modal-action btn waves-effect" [disabled]="form.invalid">Войти</button>
  </div>
</form>
